.filter{
    padding:10px;
    .item{
        margin:10px 0;
    }
}

.wrapper{
    height:100%;
    .tree{
        height:calc(100% - 156px);
    }
}

.user-card{
    position: relative;
}

.ant-tree-treenode:not(.ant-tree-treenode-disabled) .user-card .link{
    color:red;
        &:hover{
            text-decoration: underline;
        }
}